@mixin navbar-nino{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-template-rows: 1fr ;
    align-items: center;
    margin-top: 40px;
};
@mixin logo-ubi-nino {
    grid-column: 1 / 2;
    justify-content: flex-start;
}
@mixin titulo-nino {
    grid-column: 2 / 5;
    grid-row: 1 / 1;
}
@mixin navbar-ubi-nino {
    grid-column: 2   / 10;
    grid-row: 1 / 1;
}
//Nav-bar de la sección de niños
.logo-layout-nino{
@include navbar-nino () ;
    .logo-ubi{
    @include logo-ubi-nino();
    }
    .titulo {
        @include titulo-nino();
    }
    .navbar-layout{
        @include navbar-ubi-nino();
    }
    .shopping-car{
        grid-column: 10 / 10;
        margin-left: 30px;
    }
}
//titulo de la sección de niños
.tituloNino{
    font-family: 'Ranchers', cursive;
    color: rgb(116, 135, 245);
    font-size: 3rem;
    text-align: start;
    grid-column: 2 / 5;
    grid-row: 1;
}
