@mixin navbar-uni {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% ;
    grid-template-rows: 1fr ;
    align-items: center;
    margin-top: 40px;
}
.logo-layout-uni{
        @include navbar-uni();
    .logo-ubi{
        @include logo-ubi-nino();
    }
    .titulo {
        @include titulo-nino ();
    }
    .navbar-layout{
        @include navbar-ubi-nino();
    }
    .shopping-car{
        grid-column: 10 / 10;
        margin-left: 30px;
    }
}
//título de la sección unisex
.tituloUni{
    font-family: 'Ranchers', cursive;
    color: rgb(255, 168, 214);
    margin: 20px;
    font-size: 3rem;
    text-align: center;
}